/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

Using http://susy.oddbird.net/

******************************************************************/

@import "susy";

$total-columns  : 12;
$gutter-width   : 2em;

.onecol    { @include span-columns(1,12); } 
.twocol    { @include span-columns(2,12); } 
.threecol  { @include span-columns(3,12); } 
.fourcol   { @include span-columns(4,12); } 
.fivecol   { @include span-columns(5,12); } 
.sixcol    { @include span-columns(6,12); } 
.sevencol  { @include span-columns(7,12); } 
.eightcol  { @include span-columns(8,12); } 
.ninecol   { @include span-columns(9,12); } 
.tencol    { @include span-columns(10,12); }
.elevencol { @include span-columns(11,12); }
.twelvecol { @include span-columns(12,12); }

.twoOfTen { @include span-columns(2,10); }
.fiveOfTen { @include span-columns(5,10); }
.eightOfTen { @include span-columns(8,10); }

.first {
  margin-left: 0;
}

.last {
  @include omega;
}

